
{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

      {% block banerheader %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">{{ title }}</h3>
      </section>
      {% endblock %}


      {% block imagecategory %}
      {% endblock %}

      {% block products %}
      {% endblock %}

      {% block bannerbody %}
      {% endblock %}

      {% block content %}
     {% include 'blog_left_block.html' %}
<div class="col-md-9">
                <article class="blog-detail">
                  <h3 class="title-blog-detail">{{ about.title }}</h3>
                  <p class="meta">
                  </p>
                  <div class="content">
                    <img class="feature-image" src="{{ about.thumbnail.url }}" alt="{{ about.title }}">
                    <p>{{ about.description|safe }}</p>
                  </div>
                </article>


              </div>





{% endblock %}
{% block sidebar %}


      {% endblock %}

  {% block banerfooter %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">

          {% if banner_footer %}
                    {% for banner in banner_footer %}
                        <a href="{{ banner.urls }}">
                         <img src="{{ banner.thumbnail.url }}" alt="{{ banner.title }}" width="1200" height="250" >
                        </a>
                        <div class="overlay-call-to-action"></div>
                    {% endfor %}
                         {% else %}
                         <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">

        <div class="overlay-call-to-action"></div>

          {% endif %}

      </section>
      {% endblock %}
    {% block subscribe %}
    {% endblock %}

{% block script %}

{% endblock%}
