


{% load mptt_tags static %}
<div class="nested-comments">
	{% recursetree article.comments.all %}
	<ul id="comment-thread-{{ node.pk }}">
		<li class="card border-0">
			<div class="row">
				<div class="col-md-2">
					<img src="{{ node.get_avatar }}" style="width: 120px;height: 120px;object-fit: cover;" alt="{{ node.author }}" />
				</div>
				<div class="col-md-10">
					<div class="card-body">
						<h6 class="card-title">
                            {% if node.author %}
                            <a href="{{ node.author.profile.get_absolute_url }}">
                                {{ node.author }}
                            </a>
                            {% else %}
                            <a href="mailto:{{ node.email}}">
                                {{ node.name }}
                            </a>
                            {% endif %}
						<p class="card-text">
							{{ node.content }}
						</p>
                        {% if node.author %}
                        <a class="btn btn-sm btn-dark btn-reply" href="#commentForm" data-comment-id="{{ node.pk }}" data-comment-username="{{ node.author }}">Ответить</a>
                        {% else %}
                        <a class="btn btn-sm btn-dark btn-reply" href="#commentForm" data-comment-id="{{ node.pk }}" data-comment-username="{{ node.name }}">Ответить</a>
                        {% endif %}
						<hr />
						<time>{{ node.time_create }}</time>
					</div>
				</div>
			</div>
		</li>
		{% if not node.is_leaf_node %} {{ children }} {% endif %}
	</ul>
	{% endrecursetree %}
</div>
<div class="card border-0">
	<div class="card-body">
		<h6 class="card-title">
			Форма добавления комментария
		</h6>
		<form method="post" action="{% url 'blog:comment_create_view' article.pk %}" id="commentForm" name="commentForm" data-article-id="{{ article.pk }}">
			{% csrf_token %}
            {{ form.content }}
            {{ form.parent }}
             {% if not request.user.is_authenticated %}
			<div class="mb-3">
				<label for="id_name">{{ form.name.label }}:</label>
				<input type="text" name="name" placeholder="Введите ваше имя" required="true" class="form-control" maxlength="255" id="id_name">
			</div>
			<div class="mb-3">
				<label for="id_email">{{ form.email.label }}:</label>
				<input type="text" name="email" placeholder="Введите ваш email" required="true" class="form-control" maxlength="255" id="id_email">
			</div>
			{% endif %}
			<div class="d-grid gap-2 d-md-block mt-2">
				<button type="submit" class="btn btn-dark" id="commentSubmit">Добавить комментарий</button>
			</div>
		</form>
	</div>
</div>
{% block script %}
<script src="{% static 'custom/js/comments.js' %}"></script>
{% endblock %}









<div class="row">
                  <div class="col-md-12">
                    <div class="comment-area">
                      <h4 class="title-comment">2 Comments</h4>
                      <ol class="comment-list">
                        <li>
                          <div class="the-comment">
                            <div class="avatar">
                              <img class="avatar" alt="avatar" src="images/comment/01.png">
                            </div>
                            <div class="comment-box">
                              <div class="comment-author meta">
                                <p class="author">Mark Hunt</p>
                                <p class="time">15 March 2017</p>
                              </div>
                              <div class="comment-text">
                                <p>This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.</p>
                                <a class="comment-reply-link" rel="nofollow" href="#">REPLY</a>
                              </div>
                            </div>
                          </div>
                          <ul class="children">
                            <li>
                              <div class="the-comment">
                                <div class="avatar">
                                  <img class="avatar" alt="avatar" src="images/comment/02.png">
                                </div>
                                <div class="comment-box">
                                  <div class="comment-author meta">
                                    <p class="author">Lori Peters</p>
                                    <p class="time">16 March 2017</p>
                                  </div>
                                  <div class="comment-text">
                                    <p>This is a reply test … Class aptent taciti sociosqu ad litora torquent per connubial rostra.</p>
                                    <a class="comment-reply-link" rel="nofollow" href="#">REPLY</a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
