
{% extends 'base.html' %}
{% load static %}


      {% block banerheader %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">{{ title }}</h3>
      </section>
      {% endblock %}


      {% block imagecategory %}
      {% endblock %}

      {% block products %}
      {% endblock %}

      {% block bannerbody %}
      {% endblock %}

      {% block content %}
      <section class="boxed-sm">
        <div class="container">
          <div class="row main">
            <div class="row">
              <div class="col-md-3">
                <div class="sidebar">
<!--                  search-->
                  <br>
                  <div class="widget widget-search">
                    <form class="organic-form form-inline btn-add-on border no-radius">
                      <div class="form-group">
                        <input class="form-control" placeholder="Search..." type="text">
                        <button class="btn btn-brand" type="submit">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
<!--                  end search-->
<!--                  left block-->
                  <div class="widget widget-blog-post">
                    <h4 class="title text-center">Recent Post</h4>
                    <ul class="list-blog">
                      <li>
                        <a href="blog-detail.html">
                          <div class="img-wrapper">
                            <img src="images/blog/thumb-01.jpg" alt="product">
                          </div>
                          <div class="desc">
                            <h5 class="title">Growing Your...</h5>
                            <p class="meta-time">January 02, 2017</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="blog-detail.html">
                          <div class="img-wrapper">
                            <img src="images/blog/thumb-02.jpg" alt="product">
                          </div>
                          <div class="desc">
                            <h5 class="title">Food Heaven...</h5>
                            <p class="meta-time">December 23, 2016</p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="blog-detail.html">
                          <div class="img-wrapper">
                            <img src="images/blog/thumb-03.jpg" alt="product">
                          </div>
                          <div class="desc">
                            <h5 class="title">The Nutrition...</h5>
                            <p class="meta-time">December 11, 2016</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="widget widget-categories">
                    <h4 class="title-widget text-center">Categories</h4>
                    <ul>
                      <li>
                        <a href="shop.html">Vegatable
                          <span>(5)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">Meat
                          <span>(7)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">Fruits
                          <span>(9)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">Bestseller
                          <span>(10)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">Organic Food
                          <span>(6)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">Healthy Benefit
                          <span>(5)</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="widget widget-categories">
                    <h4 class="title-widget text-center">Archives</h4>
                    <ul>
                      <li>
                        <a href="shop.html">March 2017
                          <span>(5)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">Feberuary 2017
                          <span>(7)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">January 2017
                          <span>(9)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">December 2016
                          <span>(10)</span>
                        </a>
                      </li>
                      <li>
                        <a href="shop.html">November 2016
                          <span>(6)</span>
                        </a>
                      </li>
                    </ul>
                  </div>
<!--                  end left block-->

                </div>
              </div>
              <!--                  body-->
              <br>
              <div class="col-md-9">
                <article class="blog-detail">
                  <h3 class="title-blog-detail">{{ article.title }}</h3>
                  <p class="meta">
                    <span class="time">{{ article.time_create }}</span>
                    <span class="comment">0</span>
                  </p>
                  <div class="content">
                    {% if article.thumbnail %}
                         <img class="img-responsive pull-right" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">
                         {% else %}
                         <img class="img-responsive pull-right" src="{% static 'images/blog/012.jpg' %}" alt="{{ article.title }}">
                         {% endif %}
                    <p </p>
                    <div class="row">
                      <div class="col-md-12">
                        <h4></h4>

                        <p>{{ article.description }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h4></h4>
                        <p> </p>
                      </div>
                    </div>
                  </div>
                </article>
                <div class="row">
                  <div class="col-md-12 text-center">
<!--                    social-->
                    <div class="widget-social-color">
                      <ul>
                        <li>
                          <a class="facebook" data-toggle="tooltip" title="Facebook" href="http://www.facebook.com/authemes">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li>
                          <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="http://www.pinterest.com/authemes">
                            <i class="fa fa-pinterest"></i>
                          </a>
                        </li>
                        <li>
                          <a class="twitter" data-toggle="tooltip" title="Twitter" href="http://www.twitter.com/authemes">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="https://plus.google.com/authemes">
                            <i class="fa fa-google-plus"></i>
                          </a>
                        </li>
                        <li>
                          <a class="instagram" data-toggle="tooltip" title="Instagram" href="https://instagram.com/authemes">
                            <i class="fa fa-instagram"> </i>
                          </a>
                        </li>
                      </ul>
                    </div>
<!--                    social-->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
<!--                    post -->
                    <div class="post-control">
                      <a class="prev-post" href="blog-detail.html">
                        <i class="fa fa-angle-left"></i>PREVIOUSE POST
                        <h4 class="title-next-post">Soup recipes</h4>
                      </a>
                      <a class="next-post" href="blog-detail.html">NEXT POST
                        <i class="fa fa-angle-right"></i>
                        <h4 class="title-next-post">Green Vegetables Are Good For Healthy</h4>
                      </a>
                    </div>
<!--                    posts-->
                  </div>
                </div>
<!--                comments-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="comment-area">
                      <h4 class="title-comment">2 Comments</h4>
                      <ol class="comment-list">
                        <li>
                          <div class="the-comment">
                            <div class="avatar">
                              <img class="avatar" alt="avatar" src="images/comment/01.png">
                            </div>
                            <div class="comment-box">
                              <div class="comment-author meta">
                                <p class="author">Mark Hunt</p>
                                <p class="time">15 March 2017</p>
                              </div>
                              <div class="comment-text">
                                <p>This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.</p>
                                <a class="comment-reply-link" rel="nofollow" href="#">REPLY</a>
                              </div>
                            </div>
                          </div>
                          <ul class="children">
                            <li>
                              <div class="the-comment">
                                <div class="avatar">
                                  <img class="avatar" alt="avatar" src="images/comment/02.png">
                                </div>
                                <div class="comment-box">
                                  <div class="comment-author meta">
                                    <p class="author">Lori Peters</p>
                                    <p class="time">16 March 2017</p>
                                  </div>
                                  <div class="comment-text">
                                    <p>This is a reply test … Class aptent taciti sociosqu ad litora torquent per connubial rostra.</p>
                                    <a class="comment-reply-link" rel="nofollow" href="#">REPLY</a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
<!--                comments-->
<!--                create coments-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="comment-area-form">
                      <h4 class="title-comment">Leave a Comment</h4>
                      <p>Your email address will not be published.</p>
                      <form>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group organic-form xs-radius">
                              <input class="form-control" type="text" placeholder="Your Name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group organic-form xs-radius">
                              <input class="form-control" type="email" placeholder="Your Email">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group organic-form xs-radius">
                              <textarea class="form-control" type="text" rows="6" placeholder="Your Comment"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <button class="btn btn-brand pill" type="submit">SUBMIT</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
<!--                end create comments-->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>



      {% endblock %}


    {% block subscribe %}
    {% endblock %}


