
{% extends 'base.html' %}
{% load static %}


      {% block banerheader %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">{{ title }}</h3>
      </section>
      {% endblock %}


      {% block imagecategory %}
      {% endblock %}

      {% block products %}
      {% endblock %}

      {% block bannerbody %}
      {% endblock %}

      {% block content %}
            <div class="blog-post-sidebar">

            <!--Blog post-->





            <div class="blog-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 blog-sidebar">
                            <div class="widget widget_search">
                                <form>
                                    <input type="text" name="s" value="" placeholder="Search by words">
                                    <i class="icon-search fa fa-search"></i>
                                </form>
                            </div>
                            <div class="widget widget_categories">
                                <ul>
                                    <li>
                                        <a href="page-blog.html">All Homepages</a>
                                    </li>
                                    <li>
                                        <a href="page-blog.html">Categories</a>
                                    </li>
                                    <li>
                                        <a href="page-blog.html">Reviews</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html">About</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                    <li>
                                        <a href="page-blog.html">Featured</a>
                                    </li>
                                    <li>
                                        <a href="joom-newlink.html">Joomla Base</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <div class="tz-title-filter">
                                    <h3 class="tz-title">
                                        <span>RECENTS</span>
                                    </h3>
                                    <div class="tz-cat-filter tz-cat-filter2">
                                        <span>All <i class="fa fa-angle-down"></i></span>
                                    </div>
                                </div>
                                <div class="widget-ca-box">
                                    <ul class="widget-post-box">
                                        <li>
                                            <div class="widget_thumbnail">
                                                <a href="#">
                                                    <img src="images/data/image-demo/150x99.png" alt="Travelling with kids on a Queensland’s">
                                                </a>
                                            </div>
                                            <div class="widget_item_info">
                                                <h4><a href="#">Travelling with kids on a Queensland’s</a></h4>
                                                <span class="meta">by <a href="#">Jane Doe / </a>  12 April 2015 </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="widget_thumbnail">
                                                <a href="#">
                                                    <img src="images/data/image-demo/150x99.png" alt="Travelling with kids on a Queensland’s">
                                                </a>
                                            </div>
                                            <div class="widget_item_info">
                                                <h4><a href="#">Travelling with kids on a Queensland’s</a></h4>
                                                <span class="meta">by <a href="#"> Doe / </a>  12 April 2015 </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="widget_thumbnail">
                                                <a href="#">
                                                    <img src="images/data/image-demo/150x99.png" alt="Travelling with kids on a Queensland’s">
                                                </a>
                                            </div>
                                            <div class="widget_item_info">
                                                <h4><a href="#">Travelling with kids on a Queensland’s</a></h4>
                                                <span class="meta">by <a href="#">Doe / </a>  12 April 2015 </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="widget_thumbnail">
                                                <a href="#">
                                                    <img src="images/data/image-demo/150x99.png" alt="Travelling with kids on a Queensland’s">
                                                </a>
                                            </div>
                                            <div class="widget_item_info">
                                                <h4><a href="#">Travelling with kids on a Queensland’s</a></h4>
                                                <span class="meta">by <a href="#">Doe / </a>  12 April 2015 </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="widget_thumbnail">
                                                <a href="#">
                                                    <img src="images/data/image-demo/150x99.png" alt="Travelling with kids on a Queensland’s">
                                                </a>
                                            </div>
                                            <div class="widget_item_info">
                                                <h4><a href="#">Travelling with kids on a Queensland’s</a></h4>
                                                <span class="meta">by <a href="#">Doe / </a>  12 April 2015 </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="widget_thumbnail">
                                                <a href="#">
                                                    <img src="images/data/image-demo/150x99.png" alt="Travelling with kids on a Queensland’s">
                                                </a>
                                            </div>
                                            <div class="widget_item_info">
                                                <h4><a href="#">Travelling with kids on a Queensland’s</a></h4>
                                                <span class="meta">by <a href="#">Doe / </a>  12 April 2015 </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="widget_thumbnail">
                                                <a href="#">
                                                    <img src="images/data/image-demo/150x99.png" alt="Travelling with kids on a Queensland’s">
                                                </a>
                                            </div>
                                            <div class="widget_item_info">
                                                <h4><a href="#">Travelling with kids on a Queensland’s</a></h4>
                                                <span class="meta">by <a href="#">Doe / </a>  12 April 2015 </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="tz-title-filter">
                                    <h3 class="tz-title">
                                        <span>TAGS</span>
                                    </h3>
                                </div>
                                <div class="tagcloud">
                                    <a href="#">Student</a>
                                    <a href="#">Movies</a>
                                    <a href="#">Queen's Land</a>
                                    <a href="#">Student</a>
                                    <a href="#">How</a>
                                    <a href="#">Movie</a>
                                    <a href="#">Videos</a>
                                    <a href="#">Queensland's</a>
                                    <a href="#">Student</a>
                                    <a href="#">Girlfriend</a>
                                    <a href="#">How</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-9 border-left">
                            <article class="single-post">

                                            <div class="card mb-3 border-0 nth-shadow">
    <div class="card mb-3 border-0 nth-shadow">
    <div class="card-body">
        <div class="card-title nth-card-title">
            <h4>Удаление статьи</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-info-circle"></i> Вы собираетесь удалить статью: <strong>{{ article.title }}</strong>, вы подтверждаете свое действие?
            </div>
            <div class="d-grid gap-2 d-md-block mt-2">
                <button type="submit" class="btn btn-dark">Удалить статью</button>
                <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Отменить удаление</a>
            </div>
        </form>
    </div>
</div>




                            </article>
                        </div>
                    </div><!--End row-->
                </div><!--End container-->
            </div>
            <!--End blog post-->

        </div>
        <!--End blog wrap-->

      {% endblock %}


    {% block subscribe %}
    {% endblock %}


