
{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

      {% block banerheader %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">{{ title }}</h3>
      </section>
      {% endblock %}


      {% block imagecategory %}
      {% endblock %}

      {% block products %}
      {% endblock %}

      {% block bannerbody %}
      {% endblock %}

      {% block content %}
     {% include 'blog_left_block.html' %}
              <!--                  body-->
              <br>
              <div class="col-md-9">
                <article class="blog-detail">
                  <h3 class="title-blog-detail">{{ article.title }}</h3>
                  <p class="meta">
                    <span class="time">{{ article.time_create }}</span>
                    <span class="comment">{{ article.get_count_comments }}</span>
                          / Добавил:
                      <a href="/users/{{ article.author.profile.slug }}">{{ article.author.username }}</a>
                          / Просмотры: {{ article.get_view_count }}
                                | {% if request.user.is_authenticated and request.user == article.author %}
                                    <a href="{% url 'blog:articles_update' article.slug %}">Изменить.</a>
                                    {% endif %}
                                / {% if request.user.is_authenticated and request.user == article.author %}
                                    <a href="{% url 'blog:articles_delete' article.slug %}">Удалить.</a>
                                    {% endif %}

                  </p>
                  <div class="content">
                    {% if article.thumbnail %}

                         <img class="img-responsive pull-left" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">
                         {% else %}
                         <img class="img-responsive pull-left" src="{% static 'images/blog/012.jpg' %}" alt="{{ article.title }}">
                         {% endif %}
                    <p></p>
                    <div class="row">
                      <div class="col-md-12">
                        <h4></h4>
                        <p>{{ article.description|safe }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                          <br>
                        <p>   <!--rating-->
	<div class="rating-buttons">
		<button class="btn btn-sm btn-primary" data-article="{{ article.id }}" data-value="1">Нравится</button>
		<button class="btn btn-sm btn-secondary" data-article="{{ article.id }}" data-value="-1">Не нравится</button>
		<button class="btn btn-sm btn-secondary rating-sum">{{ article.get_sum_rating }}</button>
	</div>
<!--endrating--></p>
                      </div>
                    </div>
                  </div>
 <p>
       {% if article.tags.all %}
	<div class="card-footer border-0">
		Теги записи: {% for tag in article.tags.all %} <a href="{% url 'blog:articles_by_tags' tag.slug %}">{{ tag }}</a>, {% endfor %}
	</div>
	{% endif %}
 </p>
                </article>
                <div class="row">
                  <div class="col-md-12 text-center">
<!--                    social-->
<br>
                    <div class="widget-social-color">
                      <ul>
                        <li>
                          <a class="facebook" data-toggle="tooltip" title="Facebook" href="http://www.facebook.com/authemes">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li>
                          <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="http://www.pinterest.com/authemes">
                            <i class="fa fa-pinterest"></i>
                          </a>
                        </li>
                        <li>
                          <a class="twitter" data-toggle="tooltip" title="Twitter" href="http://www.twitter.com/authemes">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="https://plus.google.com/authemes">
                            <i class="fa fa-google-plus"></i>
                          </a>
                        </li>
                        <li>
                          <a class="instagram" data-toggle="tooltip" title="Instagram" href="https://instagram.com/authemes">
                            <i class="fa fa-instagram"> </i>
                          </a>
                        </li>
                      </ul>
                    </div>
<!--                    social-->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
<!--                    post -->


 <div class="card-title">
           Похожие статьи:
                        </div>
                    <div class="post-control">
                        {% for sim_article in similar_articles %}

                        <a href="{{ sim_article.get_absolute_url }}" class="title-next-post">{{ sim_article.title }}</a>

                {% endfor %}
                      </a>
                    </div>



{% endblock %}
{% block sidebar %}


<!--                    posts-->
                  </div>
                </div>
<!--                comments-->
		<div class="card border-0">
	<div class="card-body">
		<h5 class="card-title">
		<br>
		</h5>
		{% include 'news/comments/comments_list.html' %}
        <br>
	</div>
</div>
     </div>
     </div>
     </div>
     </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
      {% endblock %}

  {% block banerfooter %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">

          {% if banner_footer %}
                    {% for banner in banner_footer %}
                        <a href="{{ banner.urls }}">
                         <img src="{{ banner.thumbnail.url }}" alt="{{ banner.title }}" width="1200" height="250" >
                        </a>
                        <div class="overlay-call-to-action"></div>
                    {% endfor %}
                         {% else %}
                         <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">

        <div class="overlay-call-to-action"></div>

          {% endif %}

      </section>
      {% endblock %}
    {% block subscribe %}
    {% endblock %}



{% block script %}
<script src="{% static 'custom/js/ratings.js' %}"></script>
{% endblock%}
