{% load static %}
{% load system_tags %}
<!DOCTYPE html>
<html>
  <head>

  <script src="https://www.google.com/recaptcha/enterprise.js?render=6Ldd2ysqAAAAAHrm09wLO6nY9QVpeWbynJmZZKph"></script>
  <!-- Your code -->

    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>

  <body class="animsition animsition">
    <div class="home-1" id="page">
<!--      navigations-->
<!--{% include 'navigations.html' %}-->
<!--      End  navigations-->
<!--header-->
      {% include 'header.html' %}
<!--      end header-->
      {% include 'includes/messages.html' %}

      {% block banerheader %}
      {% endblock %}

      {% block imagecategory %}
      {% endblock %}

      {% block products %}
      {% endblock %}

      {% block bannerbody %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block sidebar %}{% endblock %}
    </div>
{% block banerfooter %}{% endblock %}

    {% block subscribe %}
    {% endblock %}
    </div>


    <footer class="footer-style-1">
      <div class="container">
        <div class="row">
          <div class="footer-style-1-inner">
            <div class="widget-footer widget-text col-first col-small">
              <a href="#">
                <img class="logo-footer" src="{% static 'images/logo.png' %}" alt="Logo Orchid" />
              </a>
              <div class="widget-link">
                <ul>
                  <li>
                    <span class="lnr lnr-map-marker icon"></span>
                    <span>Zjednoczenia, 01-830 Warszawa, Poland</span>
                  </li>
                  <li>
                    <span class="lnr lnr-phone-handset icon"></span>
                    <a href="tel:0123456789">(+48) 790 392 212</a>
                  </li>
                  <li>
                    <span class="lnr lnr-envelope icon"></span>
                    <a href="mailto: contact@site.com">help-selfincome@yandex.ru</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-footer widget-link col-second col-medium">
<!--              <div class="list-link">-->
<!--                <h4 class="h4 heading">SHOP</h4>-->
<!--                <ul>-->
<!--                  <li>-->
<!--                    <a href="#">Food</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">Farm</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">Health</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">Orchid</a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
              <div class="list-link">
                <h4 class="h4 heading">Поддержка</h4>
                <ul>
                  <li>
                    <a href="{% url 'system:faq' %}">FAQ</a>
                  </li>
                  <li>
                    <a href="{% url 'system:reklamainfo' %}">Реклама</a>
                  </li>
                    <li>
                    {% tag_about as tag_about %}
                    {% for about in tag_about %}
                    <a href="{{ about.get_absolute_url }}">О проекте</a>
                    {% endfor %}
                  </li>
                    <li>
                    <a href="{% url 'system:rules' %}">Правила</a>
                  </li>
                  <li>
                    <a href="{% url 'system:feedback' %}">Обратная связь</a>
                  </li>

                  <li>
                    <a href="{% url 'system:сonf' %}">
                        <p>Политика </p>
                        <p>конфедициальности</p>
                    </a>
                  </li>
                  <li>
                      <a href="{% url 'latest_articles_feed' %}">Подписаться на RSS</a>
                  </li>

                </ul>
              </div>
              <div class="list-link">
                <h4 class="h4 heading">Личный кабинет</h4>
                <ul>
                  {% if user.is_authenticated %}
                             <li>
                                <a href="{% url 'users:profile_detail' request.user.profile.slug %}" >Профиль</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:articles_create' %}">Добавить статью</a>
                            </li>
                            <li>
                                <a href="{% url 'users:logout' %}"> Выход</a>
                            </li>

                            {% else %}
                            <li>
                                <a href="{% url 'users:login' %}" >Вход</a>
                            </li>
                            <li>
                                <a href="{% url 'users:register' %}"> Регистрация</a>
                            </li>

                            {% endif %}

                            {% if user.is_superuser or user.is_staff %}
                            <li>
                                <a href="{% url 'admin:login' %}"> Админ панель </a>
                            </li>
                            {% endif %}

                </ul>
              </div>
            </div>
            <div class="widget-footer widget-newsletter-footer col-last col-small">
              <h4 class="h4 heading">Подписаться на рассылку</h4>
              <p>Subscribe now to get daily updates</p>
              <form class="Orchid-form form-inline btn-add-on circle border">
                <div class="form-group">
                  <input class="form-control pill transparent" placeholder="Your Email..." type="email" />
                  <button class="btn btn-brand circle" type="submit">
                    <i class="fa fa-envelope-o"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right style-1">
        <div class="container">
          <div class="row">
            <div class="copy-right-inner">
              <p>Copyright © 2024. All rights reserved.</p>

              <div class="widget widget-footer widget-footer-creadit-card">
                <ul class="list-unstyle">
                  <li>
                    <a href="#">
                      <img src="{% static 'images/icons/creadit-card-01.png' %}" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="{% static 'images/icons/creadit-card-02.png' %}" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="{% static 'images/icons/creadit-card-03.png' %}" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="{% static 'images/icons/creadit-card-04.png' %}" alt="creadit card" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
<!--    <div class="modal fade" id="quick-view-product" tabindex="-1" role="dialog">-->
<!--      <div class="modal-dialog modal-lg modal-quickview woocommerce" role="document">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--              <span aria-hidden="true">×</span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="modal-body">-->
<!--            <div class="row">-->
<!--              <div class="col-md-6">-->
<!--                <div class="woocommerce-product-gallery">-->
<!--                  <div class="main-carousel-product-quick-view">-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/01.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/02.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/03.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/04.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/05.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="thumbnail-carousel-product-quickview">-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/01.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/02.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/03.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/04.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-responsive" src="{% static 'images/product/05.jpg' %}" alt="product thumbnail" />-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-6">-->
<!--                <div class="summary">-->
<!--                  <div class="desc">-->
<!--                    <div class="header-desc">-->
<!--                      <h2 class="product-title">Sald</h2>-->
<!--                      <p class="price">$2.00</p>-->
<!--                    </div>-->
<!--                    <div class="body-desc">-->
<!--                      <div class="woocommerce-product-details-short-description">-->
<!--                        <p>Duis vestibulum ante velit. Pellentesque orci felis, pharetra ut pharetra ut, interdum at mauris. Aenean efficitur aliquet libero sit amet scelerisque. Suspendisse efficitur mollis eleifend. Aliquam tortor nibh, venenatis quis-->
<!--                          sem dapibus, varius egestas lorem a sollicitudin. </p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="footer-desc">-->
<!--                      <form class="cart">-->
<!--                        <div class="quantity buttons-added">-->
<!--                          <input class="minus" value="-" type="button" />-->
<!--                          <input class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number" />-->
<!--                          <input class="plus" value="+" type="button" />-->
<!--                        </div>-->
<!--                        <div class="group-btn-control-wrapper">-->
<!--                          <button class="btn btn-brand no-radius">ADD TO CART</button>-->
<!--                          <button class="btn btn-wishlist btn-brand-ghost no-radius">-->
<!--                            <i class="fa fa-heart"></i>-->
<!--                          </button>-->
<!--                        </div>-->
<!--                      </form>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="product-meta">-->
<!--                    <p class="posted-in">Categories:-->
<!--                      <a href="#" rel="tag">Food</a>-->
<!--                    </p>-->
<!--                    <p class="tagged-as">Tags:-->
<!--                      <a href="#" rel="tag">Natural</a>,-->
<!--                      <a href="#" rel="tag">Orchid</a>,-->
<!--                      <a href="#" rel="tag">Health</a>,-->
<!--                      <a href="#" rel="tag">Green</a>,-->
<!--                      <a href="#" rel="tag">Vegetable</a>-->
<!--                    </p>-->
<!--                    <p class="id">ID:-->
<!--                      <a href="#">A203</a>-->
<!--                    </p>-->
<!--                  </div>-->
<!--                  <div class="widget-social align-left">-->
<!--                    <ul>-->
<!--                      <li>-->
<!--                        <a class="facebook" data-toggle="tooltip" title="Facebook" href="http://www.facebook.com/Upperthemes">-->
<!--                          <i class="fa fa-facebook"></i>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="http://www.pinterest.com/Upperthemes">-->
<!--                          <i class="fa fa-pinterest"></i>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a class="twitter" data-toggle="tooltip" title="Twitter" href="http://www.twitter.com/Upperthemes">-->
<!--                          <i class="fa fa-twitter"></i>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="https://plus.google.com/Upperthemes">-->
<!--                          <i class="fa fa-google-plus"></i>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a class="instagram" data-toggle="tooltip" title="Instagram" href="https://instagram.com/Upperthemes">-->
<!--                          <i class="fa fa-instagram"></i>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <script src="{% static 'js/library/jquery.min.js' %}"></script>
    <script src="{% static 'js/library/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/function-check-viewport.js' %}"></script>
    <script src="{% static 'js/library/slick.min.js' %}"></script>
    <script src="{% static 'js/library/select2.full.min.js' %}"></script>
    <script src="{% static 'js/library/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/library/jquery.mmenu.all.min.js' %}"></script>
    <script src="{% static 'js/library/rellax.min.js' %}"></script>
    <script src="{% static 'js/library/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/library/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'js/library/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/library/in-view.min.js' %}"></script>
    <script src="{% static 'js/library/countUp.js' %}"></script>
    <script src="{% static 'js/library/animsition.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}" />
    <script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/config-banner-home-1.js' %}"></script>
    <script src="{% static 'js/config-banner-slider-2.js' %}"></script>
    <script src="{% static 'js/config-mm-menu.js' %}"></script>
    <script src="{% static 'js/config-set-bg-blog-thumb.js' %}"></script>
    <script src="{% static 'js/config-isotope-product-home-1.js' %}"></script>
    <script src="{% static 'js/config-mm-menu.js' %}"></script>
    <script src="{% static 'js/config-set-bg-blog-thumb.js' %}"></script>
    <script src="{% static 'js/config-isotope-product-home-1.js' %}"></script>
    <script src="{% static 'js/config-isotope-product-home-2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/config-youtube-post.js' %}"></script>



    <script src="{% static 'js/config-carousel-thumbnail.js' %}"></script>
    <script src="{% static 'js/config-carousel-product-quickview.js' %}"></script>
    <!-- Demo Only-->
    <script src="{% static 'js/demo-add-to-cart.js' %}"></script>

    <script src="{% static 'custom/js/backend.js' %}"></script>
    <script src="{% static 'js/backend.js' %}"></script>

  {% block script %}{% endblock %}
  </body>
</html>
