
{% extends 'base.html' %}
{% load static %}
<br>
<br>
<br>
<br>
      {% block banerheader %}

      <div class="banner banner-image-fit-screen">
        <div class="rev_slider slider-home-1" id="slider_1">
          <ul>
            <li>
              <img class="rev-slidebg" src="{% static 'images/slider/1.jpg' %}" alt="demo" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10">
            </li>
          </ul>
        </div>
      </div>
      {% endblock %}
      {% block imagecategory %}
     <section class="boxed-sm">
        <div class="container">
          <div class="row">
            <div class="product-category-grid-style-2">
              <div class="row flex align-items-center">
                <div class="col-md-category-small">
                  <a href="#">
                    <figure class="product-category-item-2">
                      <div class="thumbnail">
                        <img src="{% static 'images/category-product/1-1.jpg' %}" alt="" />
                      </div>
                      <figcaption>
                        <h3>Food</h3>
                      </figcaption>
                    </figure>
                  </a>
                </div>
                <div class="col-md-category-large">
                  <a href="#">
                    <figure class="product-category-item-2">
                      <div class="thumbnail">
                        <img src="{% static 'images/category-product/1-3.jpg' %}" alt="" />
                      </div>
                      <figcaption>
                        <h3>Fruit</h3>
                      </figcaption>
                    </figure>
                  </a>
                </div>
                <div class="col-md-category-small">
                  <a href="#">
                    <figure class="product-category-item-2">
                      <div class="thumbnail">
                        <img src="{% static 'images/category-product/1-2.jpg' %}" alt="" />
                      </div>
                      <figcaption>
                        <h3>Cake</h3>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}

      {% block products %}
<section class="boxed-sm">
        <div class="container">
          <div class="heading-wrapper text-center">
            <h3 class="heading-style-2">Our Products</h3>
          </div>
          <div class="product-filter-home-2-wraper">
            <div class="js-product-filter-home-2 product-filter-home-2 text-center">
              <div class="product-filter-home-2-inner">
                <h4 class="filter-title is-checked" href="#" data-filter="*">#ALL Products</h4>
                <h4 class="filter-title" data-filter=".Vegetable">#Vegetable</h4>
                <h4 class="filter-title" data-filter=".Fruit">#Fruit</h4>
                <h4 class="filter-title" data-filter=".Meat">#Meat</h4>
                <h4 class="filter-title" data-filter=".Other">#Other</h4>
              </div>
            </div>
          </div>
          <div class="js-out-of-stock-filter-product-home-2 out-of-stock-filter-product-home-2">
            <div class="col-md-8 col-md-offset-2 jumbotron text-center">
              <h2>Out Of Stock</h2>
            </div>
          </div>
          <div class="row js-product-masonry-filter-layout-2 product-masonry-filter-layout-2">
            <div class="grid-sizer"></div>
            <figure class="item Other">
              <div class="product product-style-3">
                <div class="img-wrapper">
                  <a href="product-detail.html">
                    <img class="img-responsive" src="{% static 'images/product/013.jpg' %}" alt="product thumbnail">
                  </a>
                  <div class="product-control-wrapper bottom-right">
                    <div class="wrapper-control-item">
                      <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product">
                        <span class="lnr lnr-eye"></span>
                      </a>
                    </div>
                    <div class="wrapper-control-item item-wish-list">
                      <a class="js-wish-list js-notify-add-wish-list" href="#">
                        <span class="lnr lnr-heart"></span>
                      </a>
                    </div>
                    <div class="wrapper-control-item item-add-cart js-action-add-cart">
                      <a class="animate-icon-cart" href="#">
                        <span class="lnr lnr-cart"></span>
                      </a>
                      <svg x="0px" y="0px" width="36px" height="32px" viewbox="0 0 36 32">
                        <path stroke-dasharray="19.79 19.79" fill="none" , stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <figcaption class="desc">
                  <h3>
                    <a class="product-name" href="product-detail.html">Salad</a>
                  </h3>
                  <span class="price">$2.00</span>
                </figcaption>
              </div>
            </figure>
            <figure class="item Vegetable">
              <div class="product product-style-3">
                <div class="img-wrapper">
                  <a href="product-detail.html">
                    <img class="img-responsive" src="{% static 'images/product/010.jpg' %}" alt="product thumbnail">
                  </a>
                  <div class="product-control-wrapper bottom-right">
                    <div class="wrapper-control-item">
                      <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product">
                        <span class="lnr lnr-eye"></span>
                      </a>
                    </div>
                    <div class="wrapper-control-item item-wish-list">
                      <a class="js-wish-list js-notify-add-wish-list" href="#">
                        <span class="lnr lnr-heart"></span>
                      </a>
                    </div>
                    <div class="wrapper-control-item item-add-cart js-action-add-cart">
                      <a class="animate-icon-cart" href="#">
                        <span class="lnr lnr-cart"></span>
                      </a>
                      <svg x="0px" y="0px" width="36px" height="32px" viewbox="0 0 36 32">
                        <path stroke-dasharray="19.79 19.79" fill="none" , stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <figcaption class="desc">
                  <h3>
                    <a class="product-name" href="product-detail.html">Tomato</a>
                  </h3>
                  <span class="price">$ 2.75</span>
                </figcaption>
              </div>
            </figure>
            <figure class="item Fruit">
              <div class="product product-style-3">
                <div class="img-wrapper">
                  <a href="product-detail.html">
                    <img class="img-responsive" src="{% static 'images/product/06.jpg' %}" alt="product thumbnail">
                  </a>
                  <div class="product-control-wrapper bottom-right">
                    <div class="wrapper-control-item">
                      <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product">
                        <span class="lnr lnr-eye"></span>
                      </a>
                    </div>
                    <div class="wrapper-control-item item-wish-list">
                      <a class="js-wish-list js-notify-add-wish-list" href="#">
                        <span class="lnr lnr-heart"></span>
                      </a>
                    </div>
                    <div class="wrapper-control-item item-add-cart js-action-add-cart">
                      <a class="animate-icon-cart" href="#">
                        <span class="lnr lnr-cart"></span>
                      </a>
                      <svg x="0px" y="0px" width="36px" height="32px" viewbox="0 0 36 32">
                        <path stroke-dasharray="19.79 19.79" fill="none" , stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <figcaption class="desc">
                  <h3>
                    <a class="product-name" href="product-detail.html">Apple</a>
                  </h3>
                  <span class="price">$ 4.75</span>
                </figcaption>
              </div>
            </figure>
            <figure class="item Vegetable">
              <div class="product product-style-3">
                <div class="img-wrapper">
                  <a href="product-detail.html">
                    <img class="img-responsive" src="{% static 'images/product/05.jpg' %}" alt="product thumbnail">
                  </a>
                  <div class="product-control-wrapper bottom-right">
                    <div class="wrapper-control-item">
                      <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product">
                        <span class="lnr lnr-eye"></span>
                      </a>
                    </div>
                    <div class="wrapper-control-item item-wish-list">
                      <a class="js-wish-list js-notify-add-wish-list" href="#">
                        <span class="lnr lnr-heart"></span>
                      </a>
                    </div>
                    <div class="wrapper-control-item item-add-cart js-action-add-cart">
                      <a class="animate-icon-cart" href="#">
                        <span class="lnr lnr-cart"></span>
                      </a>
                      <svg x="0px" y="0px" width="36px" height="32px" viewbox="0 0 36 32">
                        <path stroke-dasharray="19.79 19.79" fill="none" , stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <figcaption class="desc">
                  <h3>
                    <a class="product-name" href="product-detail.html">Pogago</a>
                  </h3>
                  <span class="price">$ 3.03</span>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </section>
</div>
      {% endblock %}

      {% block bannerbody %}
<!--      <br>-->
<!--      <br>-->
<!--      <br>-->
<!--      <div class="call-to-action-style-1">-->
<!--        <img class="rellax bg-overlay" src="{% static 'images/call-to-action/1.jpg' %}" alt="" />-->
<!--        <div class="overlay-call-to-action"></div>-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <p class="h3">Orchid Food</p>-->
<!--            <h2>Healthy - Fresh - Delicious.</h2>-->
<!--            <a class="btn btn-brand pill" href="#">VIEW MORE </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      {% endblock %}

{% block content %}
<section class="boxed-sm">
        <div class="container">
          <div class="heading-wrapper text-center">
            <h3 class="heading-style-2">Our Blog</h3>
          </div>
          <div class="row">
            <div class="blog-v">
              <div class="post row-reverse">
                <div class="video-wrapper js-set-bg-blog-thumb">
                  <div class="overlay-play-video js-play-yoututbe">
                    <i class="fa fa-play" aria-hidden="true"></i>
                  </div>
                  <img src="images/blog/015.jpg" alt="Image" />
                  <div class="embed-responsive embed-responsive-16by9 js-video-youtube">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CxFQEdI3XvU?" allowfullscreen="allowfullscreen"></iframe>
                  </div>
                </div>
                <div class="desc">
                  <h3>Homemade muffins with huge chunks of chocolate</h3>
                  <p class="meta">
                    <span class="time">Feberuary 05, 2017</span>
                  </p>
                  <p class="sapo">
                    <Lorem>ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada varius enim, sit amet facilisis arcu fermentum lacinia. Sed varius pharetra enim nec tempor. Nunc ultrices tempor laoreet. Morbi placerat nunc at odio egestas hendrerit.
                      Vestibulum sit amet sem ut nulla egestas iaculis sed vitae ipsum. Aliquam varius tellus sit amet lobortis gravida. Donec congue tempor neque eget vulputate. Nam mattis, metus ultrices molestie tincidunt</Lorem>
                  </p>
                  <a class="read-more" href="blog-detail.html">READ MORE
                    <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}
    </div>


{% block subscribe %}
<div class="call-to-action-style-3">
        <img class="rellax bg-overlay" src="images/call-to-action/2.jpg" alt="" />
        <div class="overlay-call-to-action"></div>
        <div class="container">
          <div class="row">
            <p class="h4">SUBCRIBE TO OUR SPECIAL OFFERS</p>
            <p>Sign up today our newsletter and receive 20% on your firts purchase</p>
            <form class="Orchid-form form-inline btn-add-on">
              <div class="form-group">
                <input class="form-control white pill" type="text" placeholder="Your email address..." />
                <button class="btn btn-brand pill" type="submit">SUBSCRIBE</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endblock %}


