
{% extends 'base.html' %}
{% load static %}
<br>
<br>
<br>
<br>
      {% block banerheader %}
<br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">{{ title }}</h3>
      </section>
      {% endblock %}
      {% block imagecategory %}
      {% endblock %}

      {% block products %}

      {% endblock %}

      {% block bannerbody %}

      {% endblock %}

{% block content %}

<!--Page wrap-->
        <div class="joom-base">
            <div class="container">
                <div class="row">

                    <!--Left-->
                    <div class="col-md-3">

                        <!--Joom Control-->
                        <div class="joom-control">
                            <form class="search-control">
                                <input type="text" name="s" value="" placeholder="Search by words">
                                <i class="fa fa-search"></i>
                            </form>
                            <ul>
                                <li>
                                    <a href="joom-login.html">Log In Form</a>
                                </li>
                                <li class="active">
                                    <a href="joom-register.html">Register Form</a>
                                </li>
                                <li>
                                    <a href="joom-login.html">Log In Form</a>
                                </li>
                                <li>
                                    <a href="joom-reminduser.html">Remind User</a>
                                </li>
                                <li>
                                    <a href="joom-resetaccount.html">Reset Pass</a>
                                </li>
                                <li>
                                    <a href="joom-editprofile.html">Edit User Profile</a>
                                </li>
                            </ul>
                        </div>
                        <!--End Joom Control-->

                    </div>
                    <!--End left-->

                    <!--Right-->
                    <div class="col-md-9">
                        <div class="joom-login">
                            <h4 class="joomla-title">Редактирование профиля</h4>
                            <p>A selection of links that are all related to the Life Mag.</p>
                            <div class="row joomla-form-content">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <form method='post' class="form-horizontal">
                                        <div class="row form-group">
                                            {% csrf_token %}
                                                 {{ user_form.as_p }}
                                                 {{ form.as_p }}
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">


                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

<!--                                                <input type="text" value="" name="name">-->
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                <button type="submit"> Сохранить</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <ul class="joom-form-meta">
                                        <li><a href="#">Forgotten Password?</a></li>
                                        <li><a href="#">Forgot your username?</a></li>
                                        <li><a href="#">Don’t have an account?</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Right-->

                </div>
            </div>
        </div>
        <!--End Page wrap-->


      {% endblock %}
    </div>


{% block subscribe %}

    {% endblock %}


