

{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load blog_tags %}

      {% block banerheader %}
      <br>
      <br>
      <br>
      <br>

    <div class="shop-detail-3 woocommerce" id="page">


      <section class="sub-header shop-detail-1">
        <img class="rellax bg-overlay" src="{% static 'images/sub-header/017.jpg' %}" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">Shop Detail</h3>
      </section>
      {% endblock %}


      {% block imagecategory %}
      {% endblock %}

      {% block products %}
      {% endblock %}

      {% block bannerbody %}
      {% endblock %}

      {% block content %}


      <section class="boxed-sm">
        <div class="container">
          <div class="row product-detail">
            <div class="row product-detail-wrapper">
              <div class="col-md-6">
                <div class="woocommerce-product-gallery vertical">
                  <div class="main-carousel">
                    <div class="item">
                      <img class="img-responsive" src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/02.jpg' %}" alt="product thumbnail">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/03.jpg' %}" alt="product thumbnail">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/04.jpg' %}" alt="product thumbnail">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/05.jpg' %}" alt="product thumbnail">
                    </div>
                  </div>
                  <div class="thumbnail-carousel">
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/01.jpg' %}" alt="product thumbnail">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/02.jpg' %}" alt="product thumbnail">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/03.jpg' %}" alt="product thumbnail">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/04.jpg' %}" alt="product thumbnail">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="{% static 'images/product/05.jpg' %}" alt="product thumbnail">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="summary">
                  <div class="desc">
                    <div class="header-desc">
                      <h2 class="product-title">{{ profile.user.username }}</h2>
                      <p class="price">{% if profile.user.get_full_name %} {{ profile.user.get_full_name }}{% endif %}</p>
                     <li>{% if profile.is_online %}Онлайн{% else %}Не в сети | Заходил: {{ profile.user.last_login }} {% endif %}</li>
                    </div>
                    <div class="body-desc">
                      <div class="woocommerce-product-details-short-description">
                        <p>{{ profile.bio }} </p>
                      </div>
                    </div>
                    <div class="footer-desc">
                      <form class="cart">
                        <div class="quantity buttons-added">
                          <input class="minus" value="-" type="button">
                          <input class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number">
                          <input class="plus" value="+" type="button">
                        </div>
<!--                        <div class="group-btn-control-wrapper">-->
<!--                      {% if request.user.is_authenticated and request.user != profile.user %} {% if request.user.profile in profile.followers.all %}-->
<!--					<button class="btn btn-wishlist btn-brand-ghost no-radius" data-slug="{{ profile.slug }}">-->
<!--						Отписаться от {{ profile.user.username }}-->
<!--					</button>-->
<!--					{% else %}-->
<!--					<button class="btn btn-brand no-radius" data-slug="{{ profile.slug }}">-->
<!--						Подписаться на {{ profile.user.username }}-->
<!--					</button>-->
<!--					{% endif %} {% elif request.user == profile.user %}-->
<!--					<a href="{% url 'users:profile_edit' %}" class="btn btn-brand no-radius">Редактировать профиль</a>-->
<!--					{% endif %}-->
<!--                          </div>-->
                     {% if request.user.is_authenticated and request.user != profile.user %} {% if request.user.profile in profile.followers.all %}
					<button class="btn btn-sm btn-danger btn-follow" data-slug="{{ profile.slug }}">
						Отписаться от {{ profile.user.username }}
					</button>
					{% else %}
					<button class="btn btn-sm btn-primary btn-follow" data-slug="{{ profile.slug }}">
						Подписаться на {{ profile.user.username }}
					</button>
					{% endif %} {% elif request.user == profile.user %}
					<a href="{% url 'users:profile_edit' %}" class="btn btn-sm btn-primary">Редактировать профиль</a>
					{% endif %}



                      </form>
                    </div>
                  </div>

                  <div class="card border-0">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<h6 class="card-title">
						Подписки
					</h6>
					<div class="card-text">
						<div class="row">
							{% for following in profile.following.all %}
							<div class="col-md-2">
								<a href="{{ following.get_absolute_url }}">
									<img src="{{ following.get_avatar }}" class="img-fluid rounded-1" alt="{{ following }}" />
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h6 class="card-title">
						Подписчики
					</h6>
					<div class="card-text">
						<div class="row followers-box">
							{% for follower in profile.followers.all %}
							<div class="col-md-2" id="user-slug-{{ follower.slug }}">
								<a href="{{ follower.get_absolute_url }}">
									<img src="{{ follower.get_avatar }}" class="img-fluid rounded-1" alt="{{ follower }}" />
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





                  <div class="product-meta">
                    <p class="posted-in">Categories:
                      <a href="#" rel="tag">Food</a>
                    </p>
                    <p class="tagged-as">Tags:
                      <a href="#" rel="tag">Natural</a>,
                      <a href="#" rel="tag">Orchid</a>,
                      <a href="#" rel="tag">Health</a>,
                      <a href="#" rel="tag">Green</a>,
                      <a href="#" rel="tag">Vegetable</a>
                    </p>
                    <p class="id">ID:
                      <a href="#">A203</a>
                    </p>
                  </div>
                  <div class="widget-social align-left">
                    <ul>
                      <li>
                        <a class="facebook" data-toggle="tooltip" title="Facebook" href="http://www.facebook.com/Upperthemes">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="http://www.pinterest.com/Upperthemes">
                          <i class="fa fa-pinterest"></i>
                        </a>
                      </li>
                      <li>
                        <a class="twitter" data-toggle="tooltip" title="Twitter" href="http://www.twitter.com/Upperthemes">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="https://plus.google.com/Upperthemes">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                      <li>
                        <a class="instagram" data-toggle="tooltip" title="Instagram" href="https://instagram.com/Upperthemes">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="woocommerce-tabs">
            <div class="row">
              <div class="col-md-12 woocommerce-tabs-inner">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <ul class="tabs tab-style-2" role="tablist">
                      <li class="active" role="presentation">
                        <a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a>
                      </li>
                      <li role="presentation">
                        <a href="#Additional-Information" aria-controls="Additional-Information" role="tab" data-toggle="tab">Additional Information</a>
                      </li>
                      <li role="presentation">
                        <a href="#Review" aria-controls="Review" role="tab" data-toggle="tab">Review (2)</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-md-offset-2">
                <div class="tab-content tab-content-style-2">
                  <div class="tab-pane fade in active" id="Description" role="tabpanel">
                    <p>Phasellus consectetur elit massa, tristique tincidunt mi aliquam at. Duis dolor magna, viverra vel ullamcorper ac, semper non ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In est enim,
                      lacinia nec sem eget, aliquam vulputate nisi. Nam gravida eu ex sed fermentum. Sed non sapien vitae diam lobortis consequat. Morbi augue eros, ultrices vitae quam ut, pharetra ornare felis. Proin ligula sapien, suscipit et justo
                      id, malesuada fermentum elit. Donec fermentum pretium orci. Nulla commodo accumsan tortor, id pretium tortor. Cras ultricies nisl non nibh ultricies, viverra dapibus ante euismod. Suspendisse a elementum lorem. </p>
                  </div>
                  <div class="tab-pane fade" id="Additional-Information" role="tabpanel">
                    <table class="shop_attributes table table-striped table-bordered">
                      <tbody>
                        <tr>
                          <th>Country</th>
                          <td>
                            <p>England, London</p>
                          </td>
                        </tr>
                        <tr>
                          <th>Weight</th>
                          <td>
                            <p>3.5 Kg</p>
                          </td>
                        </tr>
                        <tr>
                          <th>Next Day Delivery Available</th>
                          <td>
                            <p>Yes</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane fade" id="Review" role="tabpanel">
                    <ol class="comment-list">
                      <li>
                        <div class="the-comment">
                          <div class="avatar">
                            <img class="avatar" alt="avatar" src="{% static 'images/comment/01.png' %}">
                          </div>
                          <div class="comment-box">
                            <div class="comment-author meta">
                              <p class="author">Mark Hunt</p>
                              <p class="time">15 March 2017</p>
                            </div>
                            <div class="comment-text">
                              <p>This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.This is a test … </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="the-comment">
                          <div class="avatar">
                            <img class="avatar" alt="avatar" src="{% static 'images/comment/02.png' %}">
                          </div>
                          <div class="comment-box">
                            <div class="comment-author meta">
                              <p class="author">Lori Peters</p>
                              <p class="time">16 March 2017</p>
                            </div>
                            <div class="comment-text">
                              <p>This is a reply test … </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="relate-product">
            <div class="heading-wrapper text-center">
              <h3 class="heading">Related Products</h3>
            </div>
            <div class="row">
              <div class="carousel-product">
                <div class="item">
                  <figure class="item">
                    <div class="product product-style-1">
                      <div class="img-wrapper">
                        <a href="product-detail.html">
                          <img class="img-responsive" src="{% static 'images/product/01.jpg' %}" alt="product thumbnail">
                        </a>
                        <div class="product-control-wrapper bottom-right">
                          <div class="wrapper-control-item">
                            <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product">
                              <span class="lnr lnr-eye"></span>
                            </a>
                          </div>
                          <div class="wrapper-control-item item-wish-list">
                            <a class="js-wish-list js-notify-add-wish-list" href="#">
                              <span class="lnr lnr-heart"></span>
                            </a>
                          </div>
                          <div class="wrapper-control-item item-add-cart js-action-add-cart">
                            <a class="animate-icon-cart" href="#">
                              <span class="lnr lnr-cart"></span>
                            </a>
                            <svg x="0px" y="0px" width="36px" height="32px" viewbox="0 0 36 32">
                              <path stroke-dasharray="19.79 19.79" fill="none" ,="," stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                      <figcaption class="desc text-center">
                        <h3>
                          <a class="product-name" href="product-detail.html">Salad</a>
                        </h3>
                        <span class="price">$3.20</span>
                      </figcaption>
                    </div>
                  </figure>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

{% endblock %}

      {% block banerfooter %}

      {% endblock %}


    {% block subscribe %}
    {% endblock %}

{% block script %}
<script src="{% static 'custom/js/profile.js' %}"></script>

{% endblock %}