

{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load blog_tags %}

      {% block banerheader %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">
          {% if profile.image_header %}
          <a href="#">
              <img src="{{ profile.image_header.url }}" alt="{{ profile.user.get_full_name }}" width="1200" height="250" >
          </a>
          <div class="overlay-call-to-action"></div>
          {% else %}
          <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">{{ profile.user.get_full_name }} </h3>
          {% endif %}

      </section>

<br>
      {% endblock %}


      {% block imagecategory %}
      {% endblock %}

      {% block products %}
      {% endblock %}

      {% block bannerbody %}
      {% endblock %}

      {% block content %}


      <section class="boxed-sm">
        <div class="container">
          <div class="row product-detail">
            <div class="row product-detail-wrapper">
              <div class="col-md-6">

                  <div class="main-carousel">
                    <div class="item">
                      <img class="img-responsive" src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}">
                    </div>
                </div>

<!--                menu in profile-->
                <div class="widget-footer widget-link col-second col-medium">
                <div class="list-link">
                <h4 class="h4 heading"></h4>
                <ul>
                  {% if request.user == profile.user %}
                  <li>
                    <a href="{% url 'blog:articles_by_user'%}">Мои публикации</a>
                  </li>
                  {% endif %}
                  <li>
                  <a href="{% url 'blog:articles_create' %}">Добавить статью</a>
                  </li>
                  <li>
                    <a href="{% url 'system:faq' %}">FAQ</a>
                  </li>
                  <li>
                    <a href="{% url 'system:reklamainfo' %}">Реклама</a>
                  </li>
                    <li>
                    <a href="{% url 'system:rules' %}">Правила</a>
                  </li>
                  <li>
                    <a href="{% url 'system:feedback' %}">Обратная связь</a>
                  </li>

                  <li>
                    <a href="{% url 'system:сonf' %}">
                        <p>Политика </p>
                        <p>конфедициальности</p>
                    </a>
                  </li>
                  <li>
                      <a href="{% url 'latest_articles_feed' %}">Подписаться на RSS</a>
                  </li>

                </ul>
              </div>
                  </div>
<!--end menu in profile-->

              </div>
              <div class="col-md-6">
                <div class="summary">
                  <div class="desc">
                    <div class="header-desc">
                      <h2 class="product-title"></h2>
                      <p class="price">{% if profile.user.get_full_name %} {{ profile.user.get_full_name }}{% endif %}
                        {% if request.user == profile.user %}

                    <h12> <small><small><small><small><small><small>
                      <a href="{% url 'users:profile_edit' %}" class="btn btn-dark">            Редактировать профиль</a>
                      <a href="{% url 'users:password_change' %}" class="btn btn-dark">         Изменить пароль</a>
                    </small></small></small></small></small></small>
                        </h12>
                      {% endif %}
                      </p>
                     <li>{% if profile.is_online %}Онлайн{% else %}Не в сети | Заходил: {{ profile.user.last_login }} {% endif %}

					</li>


                    </div>
                    <div class="body-desc">
                      <div class="woocommerce-product-details-short-description">
                        <p>{{ profile.bio }} </p>
                      </div>
                    </div>
                    <div class="footer-desc">
                      <form class="cart">

                     {% if request.user.is_authenticated and request.user != profile.user %} {% if request.user.profile in profile.followers.all %}
					<button class="btn btn-sm btn-danger btn-follow" data-slug="{{ profile.slug }}">
						Отписаться от {{ profile.user.username }}
					</button>
					{% else %}
					<button class="btn btn-sm btn-primary btn-follow" data-slug="{{ profile.slug }}">
						Подписаться на {{ profile.user.username }}
					</button>
					{% endif %} {% elif request.user == profile.user %}
					{% endif %}


                        <div class="widget-social align-left">
                          <h4></h4>
                    <ul>
                      <li>
                        {% if profile.url_facebook %}
                        <a class="facebook" data-toggle="tooltip" title="Facebook" href="{{ profile.url_facebook}}">
                          <i class="fa fa-facebook"></i>
                        </a>
                        {% endif %}
                      </li>
                      <li>
                        {% if profile.url_pinterest %}
                        <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="{{ profile.url_pinterest}}">
                          <i class="fa fa-pinterest"></i>
                        </a>
                        {% endif %}
                      </li>
                      <li>
                        {% if profile.url_twitter %}
                        <a class="twitter" data-toggle="tooltip" title="Twitter" href="{{ profile.url_twitter}}">
                          <i class="fa fa-twitter"></i>
                        </a>
                        {% endif %}
                      </li>
                      <li>
                        {% if profile.url_google %}
                        <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="{{ profile.url_google}}">
                          <i class="fa fa-google-plus"></i>
                        </a>
                        {% endif %}
                      </li>
                      <li>
                        {% if profile.url_instagram %}
                        <a class="instagram" data-toggle="tooltip" title="Instagram" href="{{ profile.url_instagram}}">
                          <i class="fa fa-instagram"></i>
                        </a>
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                      </form>
                    </div>
                  </div>

<!--      <div class="card border-0">-->
<!--		<div class="card-body">-->
<!--			<div class="row">-->
<!--				<div class="col-md-6">-->
<!--					<h6 class="card-title">-->
<!--                      <a href="#">Подписки</a>-->
<!--					</h6>-->
<!--				</div>-->
<!--				<div class="col-md-6">-->
<!--					<h6 class="card-title">-->
<!--                      <a href="#">Подписчики</a>-->
<!--					</h6>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
                </div>
              </div>
            </div>
          </div>


<!--          <div class="woocommerce-tabs">-->
<!--            <div class="row">-->
<!--              <div class="col-md-12 woocommerce-tabs-inner">-->
<!--                <div class="row">-->
<!--                  <div class="col-md-8 col-md-offset-2">-->
<!--                    <ul class="tabs tab-style-2" role="tablist">-->
<!--                      <li class="active" role="presentation">-->
<!--                        <a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a>-->
<!--                      </li>-->
<!--                      <li role="presentation">-->
<!--                        <a href="#Additional-Information" aria-controls="Additional-Information" role="tab" data-toggle="tab">Additional Information</a>-->
<!--                      </li>-->
<!--                      <li role="presentation">-->
<!--                        <a href="#Review" aria-controls="Review" role="tab" data-toggle="tab">Review (2)</a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-8 col-md-offset-2">-->
<!--                <div class="tab-content tab-content-style-2">-->
<!--                  <div class="tab-pane fade in active" id="Description" role="tabpanel">-->
<!--                    <p>Phasellus consectetur elit massa, tristique tincidunt mi aliquam at. Duis dolor magna, viverra vel ullamcorper ac, semper non ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In est enim,-->
<!--                      lacinia nec sem eget, aliquam vulputate nisi. Nam gravida eu ex sed fermentum. Sed non sapien vitae diam lobortis consequat. Morbi augue eros, ultrices vitae quam ut, pharetra ornare felis. Proin ligula sapien, suscipit et justo-->
<!--                      id, malesuada fermentum elit. Donec fermentum pretium orci. Nulla commodo accumsan tortor, id pretium tortor. Cras ultricies nisl non nibh ultricies, viverra dapibus ante euismod. Suspendisse a elementum lorem. </p>-->
<!--                  </div>-->
<!--                  <div class="tab-pane fade" id="Additional-Information" role="tabpanel">-->
<!--                    <table class="shop_attributes table table-striped table-bordered">-->
<!--                      <tbody>-->
<!--                        <tr>-->
<!--                          <th>Country</th>-->
<!--                          <td>-->
<!--                            <p>England, London</p>-->
<!--                          </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                          <th>Weight</th>-->
<!--                          <td>-->
<!--                            <p>3.5 Kg</p>-->
<!--                          </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                          <th>Next Day Delivery Available</th>-->
<!--                          <td>-->
<!--                            <p>Yes</p>-->
<!--                          </td>-->
<!--                        </tr>-->
<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </div>-->
<!--                  <div class="tab-pane fade" id="Review" role="tabpanel">-->
<!--                    <ol class="comment-list">-->
<!--                      <li>-->
<!--                        <div class="the-comment">-->
<!--                          <div class="avatar">-->
<!--                            <img class="avatar" alt="avatar" src="{% static 'images/comment/01.png' %}">-->
<!--                          </div>-->
<!--                          <div class="comment-box">-->
<!--                            <div class="comment-author meta">-->
<!--                              <p class="author">Mark Hunt</p>-->
<!--                              <p class="time">15 March 2017</p>-->
<!--                            </div>-->
<!--                            <div class="comment-text">-->
<!--                              <p>This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.This is a test … </p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <div class="the-comment">-->
<!--                          <div class="avatar">-->
<!--                            <img class="avatar" alt="avatar" src="{% static 'images/comment/02.png' %}">-->
<!--                          </div>-->
<!--                          <div class="comment-box">-->
<!--                            <div class="comment-author meta">-->
<!--                              <p class="author">Lori Peters</p>-->
<!--                              <p class="time">16 March 2017</p>-->
<!--                            </div>-->
<!--                            <div class="comment-text">-->
<!--                              <p>This is a reply test … </p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                    </ol>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->



        </div>

      </section>
          </div>
        </div>
      </section>
    </div>

{% endblock %}

      {% block banerfooter %}

      {% endblock %}


    {% block subscribe %}
    {% endblock %}

{% block script %}
<script src="{% static 'custom/js/profile.js' %}"></script>

{% endblock %}