{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load blog_tags %}

      {% block banerheader %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">
          {% if banner_header %}
                    {% for banner in banner_header %}
                        <a href="{{ banner.urls }}">
                         <img src="{{ banner.thumbnail.url }}" alt="{{ banner.title }}" width="1200" height="250" >
                        </a>
                        <div class="overlay-call-to-action"></div>
                    {% endfor %}
                         {% else %}
                         <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">

        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">{{ title }} </h3>
          {% endif %}

      </section>
      {% endblock %}


      {% block imagecategory %}
      {% endblock %}

      {% block products %}
      {% endblock %}

      {% block bannerbody %}
<div class="login" id="page">
      {% endblock %}

      {% block content %}
      <section class="boxed-sm">
        <div class="container">
          <div class="login-wrapper">
            <div class="row">
              <h3>Изменение пароля</h3>

                <form method="post" action="{% url 'users:login' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                    <div class="form-group remember-me">
                  <div class="checkbox pull-left">


                <div class="form-group footer-form">
                 <button class="btn btn-brand pill" type="submit">Подтвердить</button>
                </div>
                </form>


<!--                <div class="form-group organic-form-2">-->
<!--                  <label>Your Name *</label>-->
<!--                  <input class="form-control" type="text">-->
<!--                </div>-->
<!--                <div class="form-group organic-form-2">-->
<!--                  <label>Your Email *</label>-->
<!--                  <input class="form-control" type="Email">-->
<!--                </div>-->
<!--                <div class="form-group organic-form-2">-->
<!--                  <label>Password *</label>-->
<!--                  <input class="form-control" type="Password">-->
<!--                </div>-->
<!--                <div class="form-group organic-form-2">-->
<!--                  <label>Repeat Password *</label>-->
<!--                  <input class="form-control" type="Password">-->
<!--                </div>-->
<!--                <div class="form-group remember-me">-->
<!--                  <div class="checkbox pull-left">-->
<!--                    <label>-->
<!--                      <input type="checkbox"> Privacy Policy Agreement?-->
<!--                    </label>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group footer-form">-->
<!--                  <button class="btn btn-brand pill" type="submit">SUBMIT</button>-->
<!--                </div>-->

            </div>
          </div>
        </div>
      </section>
    </div>
   {% endblock %}

      {% block banerfooter %}
      <br>
      <br>
      <br>
      <br>
      <section class="sub-header shop-layout-1">

          {% if banner_footer %}
                    {% for banner in banner_footer %}
                        <a href="{{ banner.urls }}">
                         <img src="{{ banner.thumbnail.url }}" alt="{{ banner.title }}" width="1200" height="250" >
                        </a>
                        <div class="overlay-call-to-action"></div>
                    {% endfor %}
                         {% else %}
                         <img class="rellax bg-overlay" src="{% static 'images/sub-header/01.jpg' %}" alt="">

        <div class="overlay-call-to-action"></div>

          {% endif %}

      </section>
      {% endblock %}


    {% block subscribe %}
    {% endblock %}

{% block script %}
<script src="{% static 'js/ratings.js' %}"></script>
{% endblock %}